.newsletter{
    margin-left:1000px;
    margin-top:100px;
    font-size:20px;
    color:blueviolet;

}

@media(max-width:768px){
    .newsletter{
        margin-left:200px;
        margin-top:40px;
        font-size:16px;
    }
}

.newsletter-info{
    margin-left:10px;
    color:pink;
    font-weight: bold;
}

@media(max-width:768px){
    .newsletter-info{
        margin-left:10px;
    }  
}

.newsletter-form{
    margin-left:10px;
    
}
@media(max-width:768px){
    .newsletter-form{
        margin-left:-20px;
    }
}