.home-page{
    display: flex;
    background: linear-gradient(180deg,#f5e1ff,#e1ffea22 60%);
    height:100vh;
}

@media (max-width: 768px) {
    .home-page{
        flex-direction:row;
        
    }
}

.home-page-left{
    display:flex;
    justify-content:left;
    align-items:left;
    margin-top: 50px;
    margin-right:450px;
    margin-left:50px;
}
@media (max-width: 768px) {
    .home-page-left{
        margin-top:10px;
        margin-right:25px;
        margin-left:10px;
    }
}
.home-page-left img{
    width:450px;
    height:1000px;
 
}
@media (max-width: 768px) {
    .home-page-left img{
        width:auto;
        height: 600px;
    }
}

.home-page-center{
    display:inline-block;
    justify-content:center;
    margin-right: 450px;  
}
@media (max-width: 768px) {
    .home-page-center{
        margin-right:25px;
    }
}

.content{
    font-size:120px;
    color:darksalmon;
    margin-top: 10px;
    margin-left: 120px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    
}
@media (max-width: 768px) {
    .content{
       font-size:25px;
       margin-left:10px;
       font-weight: 100;
       margin-top:50px;
       margin-bottom: 150px;
    }
}
.btn {
    font-size: 30px;
    justify-content:center;
    height:60px;
    width:200px;
    background-color:navy;
    color:whitesmoke;
    border-radius: 20px;
    font-style: italic;
    font-family:cursive;
    margin-left: 200px;

}
@media (max-width: 768px) {
    .btn{
        font-size: 20px;
        height:60px;
        width:100px;
        margin-left:15px;
    }
}
.home-page-right{
    display:flex;
    justify-content:right;
    align-items:right;
    margin-top: 50px;

}
@media (max-width: 768px) {
    .home-page-right{
        margin-top:10px;
    }
}

.home-page-right img{
    width:500px;
    height:1000px;
 
}
@media (max-width: 768px) {
    .home-page-right img{
        width:auto;
        height:600px;
    }
}


