.policy-title{
    font-variant-caps:all-petite-caps;
    color:maroon;
    font-size:50px;
    
}

@media(max-width:768px){
    .policy-title{
        font-size:16px;
    }
}


.policy-info{
    display:flex;
    flex-direction: row;
    gap:400px;
    justify-content:space-around;
    margin-top:50px;
    color:green;
    margin-bottom: 100px;
}

@media(max-width:768px){
    .policy-info{
        gap:20px;
        margin-top:20px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}
.policy-info img{
    height:100px;
    width:50px; 
    margin-left: 50px;
    margin-bottom: 20px;
}