.product{
    display: inline-block ;
    flex-direction:row;
    margin-left:50px;
    
}

.product:hover {
    border-color: #FF9900; /* Amazon orange */
    box-shadow: 0px 3px 3px rgba(139, 87, 7, 0.5); /* Enhanced shadow */
    transform: translateY(-3px); /* Slight lift effect */
}
.product img{
    height: 600px;
    width:400px;
    margin-right:150px;
    border: 1px solid #ddd; /* Subtle gray border */
    border-radius: 8px; /* Soft rounded edges */
}


.product-info{
    justify-content:space-around;
    color:darkgreen;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight:600;
}

@media(max-width:768px){
    .product{
        margin-left: 10px;
    }
    .product img{
        height: 400px;
        width:250px;
        margin-right:70px;
       
    }
    .product-info{
        color:darkgreen;
        font-size:15px;
        width:200px;
        margin-left:50px;
        margin-top:-10px;
        
    }

}